.RightBar {
    height: 100vh;
    padding: 7% 9%;
    background-color: #f7f4fa;
    font-family: 'Inter-SemiBold';
}
.RightBar h4 {
    font-size: 26px;
    text-align: left;
    margin-bottom: 6%;
}
.daySelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4%;
}
.iconBox {
    width: 8%;
    display: flex;
    align-items: center;
}
.iconBox img {
    width: 100%;
}
.day {
    font-family: 'Inter-Regular';
    font-size: 20px;
    color: #777;
}
.arrowBox {
    width: 8%;
    display: flex;
    align-items: center;
}
.arrowBox img {
    width: 100%;
}
.meal {
    margin: 8% 0;
}
.meal .breakfast,.lunch {
    margin-bottom: 6%;
}
.meal .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.meal .title h5 {
    font-size: 20px;
}
.meal .title span.purchased {
    font-size: 13px;
    color: #36de98;
    background-color:#c7ffe5 ;
    padding: 5px 8px;
    border-radius: 50px;
}
.meal .title span.ordered {
    font-size: 13px;
    color: #e9be87;
    background-color:#fff3e1 ;
    padding: 5px 8px;
    border-radius: 50px;;
}
.meal .title span.not_ordered {
    font-size: 13px;
    color: #e65e6a;
    background-color:#ffe7e9 ;
    padding: 5px 8px;
    border-radius: 50px;;
}
.meal span.time {
    display: block;
    margin-bottom: 4%;
}
.meal ul {}
.meal ul li {
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
.meal ul li div.foodBox {
    width: 20%;
    margin-right: 5%;
}
.meal ul li div.foodBox img {
    display: block;
    width: 100%;
    border-radius: 6px;
}
.meal ul li div.textBox {}
.meal ul li div.textBox h6 {
    font-size: 15px;
    margin-bottom: 10px;
}
.meal ul li div.textBox div.price {
    display: flex;
}
.meal ul li div.textBox div.price span.currentPrice {
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.meal ul li div.textBox div.price span.currentPrice span.dollarBox {
    display: inline-block;
    width: 30%;
}
.meal ul li div.textBox div.price span.currentPrice span.dollarBox img {
    display: block;
    width: 100%;
}
.meal ul li div.textBox div.price span.initialPrice {
    display: inline;
    color: #777;
    text-decoration: line-through;
}
.add {
    background-color: #ffebde;
    border: 1px dashed #ec6925;
    border-radius: 8px;
    padding: 6%;
    text-align: center;
}
.add  a {
    color:#ee793b;
    text-decoration: none;
    font-size: 18px;
}
