.MainSpace {
    height: 150px; 
    font-family: 'Inter-SemiBold';
    padding: 2% 0;
    display: flex;
    align-items: center;
}
.welcome {
    margin-right: 6%;
}
.welcome h1 {
    margin-bottom: 13px;
    font-size: 34px;
}
.welcome span {
    color: #777;
}
.menu {
    width: 40%;
}
.menuContainer {
    display: flex;
}
.menuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 3% 5%;
    margin-right: 6%;
    font-size: 18px;

}
.search {
    background-color: #eee;
    border-radius: 30px;
    padding: 1% 1.8%;
    display: flex;
    align-items: center;
    font-family: 'Inter-Regular';

}
.search span.searchText {
    color:#777;
    font-size: 18px;
    margin-right: 10px;
}
.search span.searchIcon {}



