.Recommended,.Breakfast,.Lunch,.Dinner,.IceCream,.Coffee {
    width: 67.5%;
    height: 65%;
    position:absolute;
    top: 31%;
    left: 9%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.foodItem {
    background-color: #f7f4fa;
    border-radius: 15px; 
    display: inline-block;  
    margin-bottom: 1.5%;
    width: 31%;
    height: 50%;
}
.foodItem .foodImage {
    width: 100%;
    height: 73%;
    margin-bottom: 3%;
}
.foodItem .foodImage img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.foodItem h4 {
    padding: 0 5%;
}
.foodItem .foodBoxBottom {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
.foodItem .foodBoxBottom .price {
    display: flex;
}
.foodItem .foodBoxBottom .price .currentPrice {
    display: flex;
    align-items: center;
    margin-right: 10%;
    font-size: 26px;
}
/* .Recommended .foodItem .foodBoxBottom .price .currentPrice .dollarBox {
    display: inline-block;
    width: 50%;
} */
.foodItem .foodBoxBottom .price .currentPrice .dollarBox img {
    display: block;
    width: 100%;
}
.foodItem .foodBoxBottom .price .initialPrice {
    display: inline;
    color: #777;
    font-size: 19px;
    text-decoration: line-through;
}
.foodItem .foodBoxBottom .order {
    border: none;
    background-color: #F46801;
    color: #fff;
    padding: 2.5% 5%;
    border-radius: 30px;
    font-size: 16px;
}
