.Menu {
    position: absolute;
    top: 17%;
    left: 9%;
    font-size: 50px;
    width: 67.5%;
}
h3 {
    font-family: 'Inter-SemiBold';
    font-size: 32px;
    margin-bottom: 1.5%;
}
.mealsNav {
    font-size: 0;
}
.mealsNav nav {
    width: 100%;
}
.mealsNav nav ul {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ddd;
}
.mealsNav nav ul li {
    margin-right: 5%;
    padding: 0.6% 1% 0.6%;
}
.mealsNav nav ul li a {
    /* padding: 0% 10% 7%; */
    /* border-bottom: 3px solid #f46801; */


}
.mealsNav nav ul li a.active {
    /* border-bottom: 2px solid #f46801; */

}