.Menu {
    position: absolute;
    top: 170px;
    left: 11rem;
    font-size: 50px;
    width: 70%;
}
h3 {
    font-family: 'Inter-SemiBold';
    font-size: 34px;
}
.mealsNav {}
.mealsNav nav {}
.mealsNav nav ul {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ddd;
}
.mealsNav nav ul li {
    margin-right: 5%;
    padding: 1%;
}